* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 10px;
}


body {
  overflow-x: hidden;
}


@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}


.page {
  padding: 7vh 5vw;

  &__header {
    margin-bottom: 5rem;

    @media (max-width: 500px) {
      margin-bottom: 4rem;
    }
  }
  &__progressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    z-index: 1;

    &.inProgress {
      height: 0.6vh;
      background: linear-gradient(to left, #4796d0 0%, #74c1fb 100%);
      animation: loading infinite 1s;
    }
  }
  &__logo {
    display: inline-block;
    font-size: 9rem;
    font-style: italic;
    text-decoration: none !important;
    color: inherit !important;
    font-family: serif;
    transform: translateX(-2%);
    line-height: 0.8;

    @media (max-width: 500px) {
      font-size: 5rem;
    }
  }
  &__connection {
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    width: 1.7rem;
    height: 1.7rem;
    background: 50% 50% / contain no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI4OCAyODgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0NCAxNzRjLTE3IDAtMzQgNy00NSAyMC0xMCAxMi0yOC00LTE4LTE2IDE2LTE4IDM5LTI4IDYzLTI4czQ3IDEwIDYzIDI4YzEwIDEyLTggMjgtMTggMTYtMTEtMTMtMjgtMjAtNDUtMjB6bTAgODRjLTEzIDAtMjQtMTEtMjQtMjRzMTEtMjQgMjQtMjQgMjQgMTEgMjQgMjQtMTEgMjQtMjQgMjR6bTAtMTQ0Yy0zMiAwLTYxIDExLTg0IDM0LTEwIDEwLTI5LTUtMTctMTcgMjctMjcgNjMtNDEgMTAxLTQxczc0IDE0IDEwMSA0MWMxMiAxMi03IDI3LTE3IDE3LTIzLTIzLTUyLTM0LTg0LTM0em0wLTYwYy00NiAwLTg5IDE3LTEyMiA0OC0xMiAxMS0yOS02LTE3LTE3IDM5LTM2IDg3LTU1IDEzOS01NXMxMDAgMTkgMTM5IDU1YzEyIDExLTUgMjgtMTcgMTctMzMtMzEtNzYtNDgtMTIyLTQ4eiIvPjwvc3ZnPg==);
    opacity: 0.3;
    transition: opacity 500ms;

    &.connected {
      opacity: 1;
    }
  }
  &__content {
    max-width: 800px;
  }
}


.button {
  border: 2px solid;
  font-size: 1.8rem;
  background: none;
  padding: 1rem 3rem;
  cursor: pointer;
  outline: none;

  &:hover {
    background: #7edfff;
  }
  &[disabled] {
    border: 2px solid;
    background-color: #eeeeea;
    color: rgba(black, 0.5);
    cursor: default;

    &:hover {
      background-color: #eeeeea;
    }
  }
}


.action-link {
  display: inline-block;
  font-size: 1.8rem;
  background: none;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #7edfff;
  color: inherit !important;
  text-decoration: none !important;
}


input {
  border: 2px solid;
  font-size: 1.6rem;
  background: none;
  padding: 0.7rem 0.8rem;
  outline: none;

  &[readonly] {
    background-color: #eeeeea;
  }
}


.invitation {
  margin-top: 7rem;

  @media (max-width: 500px) {
    margin-top: 5rem;
  }

  &__game-description {
    margin-bottom: 5rem;

    p {
      font-size: 1.6rem;
      line-height: 1.3;
      margin-bottom: 1.6rem;
    }
  }
}


.share-link {
  max-width: 600px;

  &__label {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  &__input {
    width: 100%;
  }
}


.admin-invitation {
  .share-link {
    margin-bottom: 3vw;
  }
  .action-link {
    margin-top: 1rem;
  }
}


.game {
  .share-link {
    margin-bottom: 3vw;
  }
}


.form {
  max-width: 400px;
  margin-bottom: 5vw;

  &__field {
    margin-bottom: 1vw;
    margin-top: 1rem;
  }
  &__label {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }

  .input {
    width: 100%;
  }
  .button {
    margin-top: 2rem;
  }
}


.state-message {
  color: rgba(black, 0.5);
  font-size: 1.6rem;
}


.static-form {
  margin-bottom: 5vw;
  font-size: 1.6rem;
  line-height: 1.3;
}


.admin-panel {
  position: absolute;
  min-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw - 700px);
  padding: 5vh 3vw;
  max-width: 470px;
  background: linear-gradient(to bottom right, #74ffec, #7cff63);

  @media (max-width: 1110px) {
    padding: 5vh 2vw;
  }
  @media (max-width: 1000px) {
    position: static;
    margin: 8vw -15vw -7vh -5vw;
    padding: 7vh 5vw;
    width: auto;
    max-width: none;
    min-height: 0;
  }

  &__title {
    font-size: 2.6rem;
    margin-bottom: 5rem;

    @media (max-width: 1110px) {
      font-size: 2rem;
      margin-bottom: 4rem;
    }
    @media (max-width: 1000px) {
      font-size: 2.6rem;
      margin-bottom: 5rem;
    }
  }
}


.admin-action {
  .button[disabled],
  .button[disabled]:hover {
    background: transparent;
  }

  &__error {
    color: rgba(black, 0.5);
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}


.admin-people {
  margin-bottom: 5vw;

  &__label {
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  }
  &__item {
    display: grid;
    grid-template-columns: 2.5rem 2fr 1fr;
    font-size: 1.6rem;
    min-height: 3.2rem;
    align-items: start;
  }
  &__item-number {}
  &__item-name {}
  &__item-action {
    font-size: 1.6rem;
    padding: 0 0.3rem;
    white-space: nowrap;
  }
}


.game-board {
  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__people {
    font-size: 1.6rem;
  }
  &__item {
    display: grid;
    grid-template-columns: 3rem 1fr;
    font-size: 2rem;
    min-height: 3.6rem;
  }
  &__item-number {
    color: rgba(black, 0.5)
  }
  &__item-name {}
}
