* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 10px;
}


body {
  overflow-x: hidden;
}


@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}


.page {
  padding: 7vh 5vw;

  &__header {
    margin-bottom: 5rem;

    @media (max-width: 500px) {
      margin-bottom: 4rem;
    }
  }
  &__progressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;

    &.inProgress {
      height: 0.6vh;
      background: linear-gradient(to left, #4796d0 0%, #74c1fb 100%);
      animation: loading infinite 1s;
    }
  }
  &__logo {
    display: inline-block;
    font-size: 9rem;
    font-style: italic;
    text-decoration: none !important;
    color: inherit !important;
    font-family: serif;
    transform: translateX(-2%);
    line-height: 0.8;

    @media (max-width: 500px) {
      font-size: 5rem;
    }
  }
  &__connection {
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    width: 1.7rem;
    height: 1.7rem;
    background: 50% 50% / contain no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI4OCAyODgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0NCAxNzRjLTE3IDAtMzQgNy00NSAyMC0xMCAxMi0yOC00LTE4LTE2IDE2LTE4IDM5LTI4IDYzLTI4czQ3IDEwIDYzIDI4YzEwIDEyLTggMjgtMTggMTYtMTEtMTMtMjgtMjAtNDUtMjB6bTAgODRjLTEzIDAtMjQtMTEtMjQtMjRzMTEtMjQgMjQtMjQgMjQgMTEgMjQgMjQtMTEgMjQtMjQgMjR6bTAtMTQ0Yy0zMiAwLTYxIDExLTg0IDM0LTEwIDEwLTI5LTUtMTctMTcgMjctMjcgNjMtNDEgMTAxLTQxczc0IDE0IDEwMSA0MWMxMiAxMi03IDI3LTE3IDE3LTIzLTIzLTUyLTM0LTg0LTM0em0wLTYwYy00NiAwLTg5IDE3LTEyMiA0OC0xMiAxMS0yOS02LTE3LTE3IDM5LTM2IDg3LTU1IDEzOS01NXMxMDAgMTkgMTM5IDU1YzEyIDExLTUgMjgtMTcgMTctMzMtMzEtNzYtNDgtMTIyLTQ4eiIvPjwvc3ZnPg==);
    opacity: 0.3;
    transition: opacity 500ms;

    &.connected {
      opacity: 1;
    }
  }
  &__content {
    max-width: 800px;
  }
}


.button {
  border: 2px solid;
  font-size: 1.8rem;
  background: none;
  padding: 1rem 3rem;
  cursor: pointer;
  outline: none;

  &:hover {
    background: #7edfff;
  }
  &[disabled] {
    border: 2px solid;
    background-color: #eeeeea;
    color: rgba(black, 0.6);
    cursor: default;

    &:hover {
      background-color: #eeeeea;
    }
  }
}


.action-link {
  display: inline-block;
  font-size: 1.8rem;
  background: none;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #7edfff;
  color: inherit !important;
  text-decoration: none !important;
}


input {
  border: 2px solid;
  font-size: 1.6rem;
  background: none;
  padding: 0.7rem 0.8rem;
  outline: none;

  &[readonly] {
    background-color: #eeeeea;
  }
}


.invitation {
  margin-top: 7rem;

  @media (max-width: 500px) {
    margin-top: 5rem;
  }

  &__game-description {
    margin-bottom: 5rem;

    p {
      font-size: 1.6rem;
      line-height: 1.3;
      margin-bottom: 1.6rem;
    }
  }
}


.share-link {
  max-width: 600px;

  &__label {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  &__input {
    width: 100%;
  }
}


.admin-invitation {
  .share-link {
    margin-bottom: 3vw;
  }
  .action-link {
    margin-top: 1rem;
  }
}


.game {
  .share-link {
    margin-bottom: 3vw;
  }
}


.form {
  max-width: 400px;
  margin-bottom: 5vw;

  &__field {
    margin-bottom: 1vw;
    margin-top: 1rem;
  }
  &__label {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }

  .input {
    width: 100%;
  }
  .button {
    margin-top: 2rem;
  }
}


.state-message {
  color: rgba(black, 0.6);
  font-size: 1.6rem;
}


.static-form {
  margin-bottom: 5vw;
  font-size: 1.6rem;
  line-height: 1.3;
}
